<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>External IP</string>
	<key>PluginUUID</key>
	<string>d6485623-26ec-4e66-8f2d-055c4df04b19</string>
	<key>PluginVersion</key>
	<string>1.2</string>
	<key>PluginOptions</key>
	<array>
		<dict>
			<key>SettingStorageKey</key>
			<string>.</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_external_ip_settings.plist</string>
			<key>SettingTitle</key>
			<string>Reports if the external IP changes</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>DisplayOnly</string>
				<key>Value</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>_check_external_ip.plugin</string>
	</array>
</dict>
</plist>
