<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>Time Drift</string>
	<key>PluginVersion</key>
	<string>1.2</string>
	<key>PluginOptions</key>
	<array>
		<dict>
			<key>SettingStorageKey</key>
			<string>.</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_timedrift_settings.plist</string>
			<key>SettingTitle</key>
			<string>Report and alert on current NTP time drift</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>DisplayOnly</string>
				<key>Value</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>SettingStorageKey</key>
			<string>ntpServer</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_timedrift_settings.plist</string>
			<key>SettingTitle</key>
			<string>NTP reference server</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>TextField</string>
				<key>Value</key>
				<string></string>
			</dict>
		</dict>
    <dict>
			<key>SettingStorageKey</key>
			<string>secondsOfAcceptableDrift</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_timedrift_settings.plist</string>
			<key>SettingTitle</key>
			<string>Generate an alert when time drift is greater than X seconds</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>NumberPicker</string>
				<key>Value</key>
				<string>0-300</string>
			</dict>
		</dict>
    <dict>
			<key>SettingStorageKey</key>
			<string>attemptRemediation</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_timedrift_settings.plist</string>
			<key>SettingTitle</key>
			<string>Attempt to remediate drift once per occurance</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>Checkbox</string>
				<key>Value</key>
				<string>Positive</string>
			</dict>
		</dict>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>_check_timedrift.plugin</string>
	</array>
</dict>
</plist>
