<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>Software Update Status</string>
	<key>PluginUUID</key>
	<string>2a36f70e-318c-45ea-87a9-e1bd65868648</string>
	<key>PluginVersion</key>
	<string>1.3.1</string>
	<key>PluginOptions</key>
	<array>
		<dict>
			<key>SettingStorageKey</key>
			<string>.</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_munki_settings.plist</string>
			<key>SettingTitle</key>
			<string>Report on the status of munki</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>DisplayOnly</string>
				<key>Value</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>SettingStorageKey</key>
			<string>daysBeforeAlert</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_munki_settings.plist</string>
			<key>SettingTitle</key>
			<string>Days before alert</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>NumberPicker</string>
				<key>Value</key>
				<string>1-90</string>
			</dict>
		</dict>
		<dict>
			<key>SettingStorageKey</key>
			<string>daysBeforeCritical</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_munki_settings.plist</string>
			<key>SettingTitle</key>
			<string>Days before alert is CRITICAL</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>NumberPicker</string>
				<key>Value</key>
				<string>1-90</string>
			</dict>
		</dict>
		<dict>
			<key>SettingStorageKey</key>
			<string>consecutiveErrorsBeforeAlert</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_munki_settings.plist</string>
			<key>SettingTitle</key>
			<string>Number of consecutive errors required before triggering Alert</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>NumberPicker</string>
				<key>Value</key>
				<string>1-90</string>
			</dict>
		</dict>
		<dict>
			<key>SettingStorageKey</key>
			<string>notificationAgent</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_munki_settings.plist</string>
			<key>SettingTitle</key>
			<string>Path to notification agent</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>TextField</string>
				<key>Value</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>SettingStorageKey</key>
			<string>notificationTitle</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_munki_settings.plist</string>
			<key>SettingTitle</key>
			<string>User notification alert title</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>TextField</string>
				<key>Value</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>SettingStorageKey</key>
			<string>notificationTitleCritical</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_munki_settings.plist</string>
			<key>SettingTitle</key>
			<string>CRITICAL user notification alert title</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>TextField</string>
				<key>Value</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>_check_munki.plugin</string>
	</array>
</dict>
</plist>
