<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>Swap Usage</string>
	<key>PluginVersion</key>
	<string>1.0</string>
  <key>PluginUUID</key>
  <string>37C0B784-D15C-4DB3-91B7-49C4CC3DD121</string>
	<key>PluginOptions</key>
	<array>
		<dict>
			<key>SettingStorageKey</key>
			<string>.</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_swap_settings.plist</string>
			<key>SettingTitle</key>
			<string>Reports and alerts on current swap memory usage</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>DisplayOnly</string>
				<key>Value</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>SettingStorageKey</key>
			<string>warningThreshold</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_swap_settings.plist</string>
			<key>SettingTitle</key>
			<string>Warning threshold (% of installed RAM)</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>NumberPicker</string>
				<key>Value</key>
				<string>0-100</string>
			</dict>
		</dict>
		<dict>
			<key>SettingStorageKey</key>
			<string>alertThreshold</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_swap_settings.plist</string>
			<key>SettingTitle</key>
			<string>Alert threshold (% of installed RAM)</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>NumberPicker</string>
				<key>Value</key>
				<string>0-100</string>
			</dict>
		</dict>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>_check_swap.plugin</string>
	</array>
</dict>
</plist>
