<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>MunkiReport</string>
	<key>PluginVersion</key>
	<string>2.0.2</string>
	<key>PluginUUID</key>
	<string>50a3bbaa-00f0-486a-9aac-dadd0363342e</string>
	<key>PluginOptions</key>
	<array>
		<dict>
			<key>SettingStorageKey</key>
			<string>.</string>
			<key>SettingStoragePath</key>
			<string>/Library/MonitoringClient/PluginSupport/_check_munkireport_link.plist</string>
			<key>SettingTitle</key>
			<string>Reports the direct MunkiReport link</string>
			<key>SettingTitleHint</key>
			<string></string>
			<key>SettingType</key>
			<dict>
				<key>Type</key>
				<string>DisplayOnly</string>
				<key>Value</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>_check_munkireport_link.plugin</string>
	</array>
</dict>
</plist>
