<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PluginName</key>
    <string>Network Mounts</string>
    <key>PluginUUID</key>
    <string>AA6E8E78-6EF3-4CF7-998F-1FD1DDE656B0</string>
    <key>PluginVersion</key>
    <string>0.2</string>
    <key>PluginOptions</key>
    <array>
      <dict>
        <key>SettingStorageKey</key>
        <string>.</string>
        <key>SettingStoragePath</key>
        <string>/Library/MonitoringClient/PluginSupport/_check_networkmounts_settings.plist</string>
        <key>SettingTitle</key>
        <string>Alert if network mounts are unavailable</string>
        <key>SettingTitleHint</key>
        <string></string>
        <key>SettingType</key>
        <dict>
          <key>Type</key>
          <string>DisplayOnly</string>
          <key>Value</key>
          <string></string>
        </dict>
      </dict>
      <dict>
        <key>SettingStorageKey</key>
        <string>networkMountWatchPaths</string>
        <key>SettingStoragePath</key>
        <string>/Library/MonitoringClient/PluginSupport/_check_networkmounts_settings.plist</string>
        <key>SettingTitle</key>
        <string>Network mounts to watch</string>
        <key>SettingTitleHint</key>
        <string>Provide a | delimited string below for mounts we will watch in the format X.X.X.X/Share</string>
        <key>SettingType</key>
        <dict>
          <key>Type</key>
          <string>TextField</string>
          <key>Value</key>
          <string></string>
        </dict>
      </dict>
    </array>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/MonitoringClient/Plugins/_check_networkmounts.plugin</string>
    </array>
</dict>
</plist>
